@Model Object

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Example Delete View Title</title>
</head>
<body>
    <div>
    <p>Example Delete view here ...</p>
    </div>
</body>
</html>
