@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Example Index2 View Title</title>
</head>
<body>
    <div>
    <p>Example Index2 view here ...</p>
    </div>
</body>
</html>
