
@{
    ViewBag.Title = "This is a test view result View";
}

<h2>This is a test view result View...</h2>

<div>

    <p>

        @foreach( var item in ViewBag.Details)
        {
            @item <br />
        }

    </p>

</div>

