@{
    Layout = null;
}

<!DOCTYPE html>

<html>

<head>
    
    <meta name="viewport" content="width=device-width" />
    
    <title>TestModels</title>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {

            var list = $(".list");


            $(".get").click(function () {

                $.ajax({
                    type: "GET",
                    // url: "../api/TestWebApi", // use ../ for relative path AND 'api/TestWebApi' to use relative from current url, i.e. siteRoot/TestWebApi2/api/TestWebApi
                    url: "/api/TestWebApi",
                    dataType: 'json',

                    success: function (data) {

                        list.empty();

                        $.each(data, function (index, val) {
                            list.append("<li>" + val.name + " is in " + val.location + "</li>");
                        });

                    }
                });

            });


            $(".clear").click(function () {
                list.empty();
            });




            $(".get-partial").click(function () {

                $.ajax({
                    type: "GET",
                    url: "/TestWebApi2/TestPartial",
                    contentType: 'application/html; charset=utf-8',
                    dataType: 'html' //,
                    //success: function (data) {
                    //    $(".partial-view").html(data);
                    //},
                    //error: function () {
                    //    $(".partial-view").html = "Error getting test partial view.";
                    //}
                // jQuery 3 style callbacks.
                }).done(function (data) {
                    $(".partial-view").html(data);
                })
                .fail(function () {
                    $(".partial-view").html = "Error getting test partial view.";
                });

            });



        }
        );
    </script>

</head>

<body>
    <article>
        <h1>Test Models</h1>

        <section>
            <button class="get">Get Test Models</button>
            <button class="clear">Clear data</button>
        </section>

        <section>
            <ul class="list"></ul>
        </section>
    </article>

    <aside style="margin-top: 30px;">

        <button class="get-partial">Get Partial View</button>

        <article class="partial-view" style="margin-top: 100px;"></article>

    </aside>

</body>

</html>
